$main-background-color:#3399ff;
$section-background-color:#66ff99;
$section-background-color:#fff;
$second-color:#18a5c9;
$main-color:#595959;
$hover-color:#e5694a;
$man-font:sans-serif;
$button-hover-color:#737373;
$footer-color:#414141;